body, p {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: "din-regular", "Arial Black", sans-serif;
  color: #46729c; }
  h1 .alt, h2 .alt, h3 .alt, h4 .alt, h5 .alt {
    color: #2b5177; }

a {
  color: #2b5177;
  text-decoration: none; }
  a:visited {
    color: #2b5177; }
  a:active {
    color: #46729c; }
  a:hover {
    color: #46729c; }

#navbar {
  width: 100%; }
  #navbar h1 {
    background-color: #E1E6EA;
    padding: 0.25em;
    font-size: 2em; }
    #navbar h1 #hamburger {
      float: right; }
  #navbar #navbuttons {
    background-color: #E1E6EA; }
    #navbar #navbuttons li a {
      display: block;
      font-family: "din-regular", "Arial Black", sans-serif;
      background-color: #4D5C6A;
      color: white;
      font-size: 1.5em;
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      border-radius: 0.25em;
      padding: 5px;
      margin: 5px; }
    #navbar #navbuttons li a:hover, #navbar #navbuttons li a:active, #navbar #navbuttons li a.selected {
      background-color: #97A1AA; }

#teachers h2 {
  font-size: 2em;
  margin-bottom: 5px;
  clear: both; }
#teachers img {
  width: 30%;
  float: left;
  border: 1px solid #ccc;
  padding: 1px;
  margin: 0 15px 5px 0; }
#teachers p {
  margin-bottom: 20px; }

@media screen and (max-width: 799px) {
  #navbar {
    position: fixed;
    top: 0; }
    #navbar #navbuttons {
      display: none;
      position: absolute;
      width: 200px;
      height: 2000px;
      right: 0; }
    #navbar #navbuttons.selected {
      display: block; }

  .page {
    margin: 4em 10px 10px 10px; }
    .page .nav {
      display: none; } }
@media screen and (min-width: 800px) {
  html, body {
    height: 100%; }

  #navbar {
    position: fixed;
    bottom: 0px;
    height: 120px;
    background-color: #E1E6EA;
    border-top: 2px solid white; }
    #navbar h1 {
      font-size: 3em;
      margin: 44px 0 4px 10px;
      position: absolute; }
      #navbar h1 #hamburger {
        display: none; }
    #navbar #navbuttons {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block; }
      #navbar #navbuttons li {
        float: left;
        display: block;
        font-weight: light; }
        #navbar #navbuttons li a {
          font-size: 1em;
          display: block;
          position: relative;
          margin: 10px;
          border-top-left-radius: 13px;
          border-bottom-right-radius: 13px;
          border-bottom-left-radius: 0;
          border-top-right-radius: 0;
          margin: 0 1px;
          padding: 10px 20px 10px 20px; }
          #navbar #navbuttons li a:before, #navbar #navbuttons li a:after {
            position: absolute;
            content: ' ';
            border-radius: 18px;
            border: 6px solid #4D5C6A;
            width: 25px;
            height: 20px; }
          #navbar #navbuttons li a:before {
            left: -31px;
            bottom: -6px;
            clip: rect(15px, 31px, 26px, 16px); }
          #navbar #navbuttons li a:after {
            right: -31px;
            top: -6px;
            clip: rect(6px, 16px, 18px, 6px); }
          #navbar #navbuttons li a:hover:before, #navbar #navbuttons li a:hover:after, #navbar #navbuttons li a.selected:after, #navbar #navbuttons li a.selected:before {
            border-color: #97A1AA; }
      #navbar #navbuttons li:first-child a {
        border-top-left-radius: 0; }
        #navbar #navbuttons li:first-child a:before {
          border-color: transparent; }

  .page {
    /*margin: 0 auto 200px auto;
    min-height: 100%;*/
    height: 100%;
    margin: 0; }

  #teachers {
    background-color: #BAC1B4;
    /*margin: 1em 1em 150px 1em;*/ }
    #teachers .nav {
      width: 20%;
      margin: 0; }
      #teachers .nav h1, #teachers .nav a {
        color: #CC6600;
        margin: 2px;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        border-radius: 0.5em;
        padding: 10px;
        display: block;
        background-color: white; }
      #teachers .nav h1 {
        color: #CC6600;
        font-size: 2em; }
      #teachers .nav a {
        color: #CC6600; }
      #teachers .nav ul {
        height: 60%;
        overflow-y: scroll; }
    #teachers .info {
      display: none;
      position: fixed;
      top: 0;
      left: 25%;
      width: 75%; }
      #teachers .info img {
        max-width: 360px;
        max-height: 380px; }
    #teachers .info.selected {
      display: block; } }
@media screen and (min-width: 1200px) {
  #teachers .info {
    float: left;
    width: 48%; } }

/*# sourceMappingURL=mockup1.css.map */
