@import 'globals.scss';

body, p{
	font-family: $pfont
}

h1,h2,h3,h4,h5 {
	font-family: $hfont;
	color: $color1;

	.alt{
		color: $color2;
	}
}

a{
	color:$color2;
	text-decoration:none;
	
	&:visited{
		color:$color2;
	}
	&:active{
		color:$color1;
	};
	&:hover{
		color:$color1;
	}
}

#navbar {

	position:fixed;
	top: 0;
	width: 100%;
	height: 100%;

	h1 {
		background-color: $bgcolor1;
		padding: 0.25em;
		font-size: 2em;

		#hamburger {
			float:right;
		}
	}

	#navbuttons {
		display:none;
	}

	#navbuttons.selected {
		display:block;
	}

	#navbuttons {

		position: absolute;
		left: 40%;
		width: 60%;
		height: 100%;
		right: 100%;
		background-color: $bgcolor1;
		li {
			a {
				display:block;
				font-family: $hfont;
				background-color: $buttonbg1;
				color: white;
				font-size: 1.5em;
				@include rounded(0.25em);
				padding: 5px;
				margin: 5px;
			}
			a:hover, a:active, a.selected {
				background-color: $buttonbg2;
			}
		}
	}
}

.page {
	margin: 3em 10px 10px 10px;

}

#teachers {
	#teachersnav {
		display: none;
	}

	h2 {
		font-size: 2em;
		margin-bottom: 5px;
		clear:both;
	}

	img {
		width: 30%;
		float:left;
		border: 1px solid #ccc;
		padding: 1px;
		margin: 0 15px 5px 0;
	}

	p {
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 768px) {
	html, body {
		height: 100%;
	}

	#navbar {
		position:fixed;
	    bottom: 0px;
	    height: 120px;
	    width: 100%;
		background-color: $bgcolor1;

		h1 {
			font-size: 3em;
			margin: 55px 0 4px 10px;

			#hamburger {
				display:none;
			}
		}

		#navbuttons {
			position: absolute;
			top: 0;

			li {
				float:left;
				display:block;
				font-weight: light;
				a {
					display:block;
					margin: 10px;
					@include rounded-kula(1em);
					margin: 0 1px;
					padding: 10px 20px 10px 20px;
				}
			}
			li:first-child {
				a {
					border-top-left-radius: 0;
				}
			}
		}
	}

	.page {
		margin-bottom: 120px;
	}

	#teachers {
		background-color: #BAC1B4;
	}
}
