@import 'globals.scss';

body, p{
	font-family: $pfont
}

h1,h2,h3,h4,h5 {
	font-family: $hfont;
	color: $color1;

	.alt{
		color: $color2;
	}
}

a{
	color:$color2;
	text-decoration:none;
	
	&:visited{
		color:$color2;
	}
	&:active{
		color:$color1;
	};
	&:hover{
		color:$color1;
	}
}

#navbuttons {
	li {
		a {
			font-family: $hfont;
			background-color: $buttonbg1;
			color: white;
		}
		a:hover, a:active, a.selected {
			background-color: $buttonbg2;
		}
	}
}