@import 'globals.scss';

body, p{
	font-family: $pfont
}

h1,h2,h3,h4,h5 {
	font-family: $hfont;
	color: $color1;

	.alt{
		color: $color2;
	}
}

a{
	color:$color2;
	text-decoration:none;
	
	&:visited{
		color:$color2;
	}
	&:active{
		color:$color1;
	};
	&:hover{
		color:$color1;
	}
}

#navbuttons {
	li {
		a {
			font-family: $hfont;
			background-color: $buttonbg1;
			color: white;

			&:hover, &:active, &.selected {
				background-color: $buttonbg2;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	html, body {
		height: 100%;
	}

	#navbar {
		position:fixed;
	    bottom: 0px;
	    height: 120px;
	    width: 100%;
		background-color: $bgcolor1;

		h1 {
			font-size: 3em;
			margin: 55px 0 4px 10px;

			#hamburger {
				display:none;
			}
		}

		#navbuttons {
			position: absolute;
			top: 0;

			li {
				float:left;
				display:block;
				font-weight: light;
				a {
					display: block;
					position: relative;
					margin: 10px;
					@include rounded-kula(13px);
					margin: 0 1px;
					padding: 10px 20px 10px 20px;

					&:before, &:after {
						position: absolute;
						content: ' ';
						border-radius: 18px;
						border: 6px solid $buttonbg1;
						width: 25px;
						height: 20px;
					}

					&:before {
						left: -31px;
						bottom: -6px;
						clip: rect(15px, 31px, 26px, 16px);
					}

					&:after {
						right: -31px;
						top: -6px;
						clip: rect(6px, 16px, 18px, 6px);
					}

					&:hover:before, &:hover:after {
						border-color: $buttonbg2;
					}
				}
			}

			li:first-child {
				a {
					border-top-left-radius: 0;
				}
			}
		}
	}

	.page {
		margin-bottom: 120px;
	}

	#teachers {
		background-color: #fff;
	}
}
